############################
# .NET / Visual Studio
############################

# Build results
bin/
obj/
[Bb]in/
[Oo]bj/
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Ll]og/
[Ll]ogs/
[Tt]est[Rr]esult*/

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# VSCode
.vscode/
*.code-workspace

# Rider
.idea/

# Cache
*.rsuser
*.cache
*.config.user
*.VC.db
*.VC.opendb

# DLL & PDB & EXE from build
*.dll
*.pdb
*.exe

# Publish
publish/
out/

# NuGet
*.nupkg
**/packages/*
!**/packages/build/

# Entity Framework
Migrations/

# IIS / Hosting
*.dbmdl
*.jfm
_IISExpress/
ipch/

# Logs
*.log

# Database
*.mdf
*.ldf
*.ndf

# Temporary & backup files
*.tmp
*.bak
*~
*.swp

# OS trash files
Thumbs.db
Desktop.ini
.DS_Store
