<div class="bg-[#CAF0F8] rounded-t-xl">
    <ul class="flex gap-2 justify-start items-center">
        <li>
            <a href="#" class="text-xl text-accent p-4 font-semibold flex gap-2 items-center">
                <img src="~/Content/img/nav/vemaybay.svg" alt="">
                Vé máy bay
            </a>
        </li>
        <li>
            <a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
                <img src="~/Content/img/nav/khachsan.svg" alt="">
                Khách sạn
            </a>
        </li>
        <li>
            <a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
                <img src="~/Content/img/nav/tour.svg" alt="">
                Tour
            </a>
        </li>
        <li>
            <a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
                <img src="~/Content/img/nav/vecongvien.svg" alt="">
                Vé công viên
            </a>
        </li>
        <li>
            <a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
                <img src="~/Content/img/nav/khampha.svg" alt="">
                Khám phá
            </a>
        </li>
        <li>
            <a href="#" class="text-xl text-text-primary p-4 font-semibold flex gap-2 items-center">
                <img src="~/Content/img/nav/tracuu.svg" alt="">
                Tra cứu vé
            </a>
        </li>
    </ul>
</div>
