<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lỗi truy cập</title>
</head>
<body>
    <hgroup>
        <h1>Có lỗi phát sinh.</h1>
        <p>@ViewBag.ErrorMessage</p>
    </hgroup>
</body>
</html>
